In [118]:
import pandas as pd
import numpy as np

In [119]:
import warnings
warnings.filterwarnings('ignore')
pd.set_option('max_column', None)
df = pd.read_csv('../data/Week1_challenge_data_source(CSV).csv', na_values=['?', None, 'undefined'])
df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps),TCP DL Retrans. Vol (Bytes),TCP UL Retrans. Vol (Bytes),DL TP < 50 Kbps (%),50 Kbps < DL TP < 250 Kbps (%),250 Kbps < DL TP < 1 Mbps (%),DL TP > 1 Mbps (%),UL TP < 10 Kbps (%),10 Kbps < UL TP < 50 Kbps (%),50 Kbps < UL TP < 300 Kbps (%),UL TP > 300 Kbps (%),HTTP DL (Bytes),HTTP UL (Bytes),Activity Duration DL (ms),Activity Duration UL (ms),Dur. (ms).1,Handset Manufacturer,Handset Type,Nb of sec with 125000B < Vol DL,Nb of sec with 1250B < Vol UL < 6250B,Nb of sec with 31250B < Vol DL < 125000B,Nb of sec with 37500B < Vol UL,Nb of sec with 6250B < Vol DL < 31250B,Nb of sec with 6250B < Vol UL < 37500B,Nb of sec with Vol DL < 6250B,Nb of sec with Vol UL < 1250B,Social Media DL (Bytes),Social Media UL (Bytes),Google DL (Bytes),Google UL (Bytes),Email DL (Bytes),Email UL (Bytes),Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,42.0,5.0,23.0,44.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,37624.0,38787.0,1.823653e+09,Samsung,Samsung Galaxy A5 Sm-A520F,NaN,NaN,NaN,NaN,NaN,NaN,213.0,214.0,1545765.0,24420.0,1634479.0,1271433.0,3563542.0,137762.0,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,65.0,5.0,16.0,26.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,168.0,3560.0,1.365104e+09,Samsung,Samsung Galaxy J5 (Sm-J530),NaN,NaN,NaN,NaN,NaN,NaN,971.0,1022.0,1926113.0,7165.0,3493924.0,920172.0,629046.0,308339.0,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,NaN,NaN,6.0,9.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,1.361763e+09,Samsung,Samsung Galaxy A8 (2018),NaN,NaN,NaN,NaN,NaN,NaN,751.0,695.0,1684053.0,42224.0,8535055.0,1694064.0,2690151.0,672973.0,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,NaN,NaN,44.0,44.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,3330.0,37882.0,1.321510e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,207.0,644121.0,13372.0,9023734.0,2788027.0,1439754.0,631229.0,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,NaN,NaN,6.0,9.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,1.089009e+09,Samsung,Samsung Sm-G390F,NaN,NaN,NaN,NaN,NaN,NaN,607.0,604.0,862600.0,50188.0,6248284.0,1500559.0,1936496.0,173853.0,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [120]:
# column names
df.columns.tolist()

['Bearer Id',
 'Start',
 'Start ms',
 'End',
 'End ms',
 'Dur. (ms)',
 'IMSI',
 'MSISDN/Number',
 'IMEI',
 'Last Location Name',
 'Avg RTT DL (ms)',
 'Avg RTT UL (ms)',
 'Avg Bearer TP DL (kbps)',
 'Avg Bearer TP UL (kbps)',
 'TCP DL Retrans. Vol (Bytes)',
 'TCP UL Retrans. Vol (Bytes)',
 'DL TP < 50 Kbps (%)',
 '50 Kbps < DL TP < 250 Kbps (%)',
 '250 Kbps < DL TP < 1 Mbps (%)',
 'DL TP > 1 Mbps (%)',
 'UL TP < 10 Kbps (%)',
 '10 Kbps < UL TP < 50 Kbps (%)',
 '50 Kbps < UL TP < 300 Kbps (%)',
 'UL TP > 300 Kbps (%)',
 'HTTP DL (Bytes)',
 'HTTP UL (Bytes)',
 'Activity Duration DL (ms)',
 'Activity Duration UL (ms)',
 'Dur. (ms).1',
 'Handset Manufacturer',
 'Handset Type',
 'Nb of sec with 125000B < Vol DL',
 'Nb of sec with 1250B < Vol UL < 6250B',
 'Nb of sec with 31250B < Vol DL < 125000B',
 'Nb of sec with 37500B < Vol UL',
 'Nb of sec with 6250B < Vol DL < 31250B',
 'Nb of sec with 6250B < Vol UL < 37500B',
 'Nb of sec with Vol DL < 6250B',
 'Nb of sec with Vol UL < 1250B',
 'Social Media DL (Bytes)',
 'Social Media UL (Bytes)',
 'Google DL (Bytes)',
 'Google UL (Bytes)',
 'Email DL (Bytes)',
 'Email UL (Bytes)',
 'Youtube DL (Bytes)',
 'Youtube UL (Bytes)',
 'Netflix DL (Bytes)',
 'Netflix UL (Bytes)',
 'Gaming DL (Bytes)',
 'Gaming UL (Bytes)',
 'Other DL (Bytes)',
 'Other UL (Bytes)',
 'Total UL (Bytes)',
 'Total DL (Bytes)']

In [121]:
# number of data points
print(f" There are {df.shape[0]} rows and {df.shape[1]} columns")

 There are 150001 rows and 55 columns

In [122]:
# how many missing values exist or better still what is the % of missing values in the dataset?
def percent_missing(df):

    # Calculate total number of cells in dataframe
    totalCells = np.product(df.shape)

    # Count number of missing values per column
    missingCount = df.isnull().sum()

    # Calculate total number of missing values
    totalMissing = missingCount.sum()

    # Calculate percentage of missing values
    print("The dataset contains", round(((totalMissing/totalCells) * 100), 2), "%", "missing values.")

percent_missing(df)

The dataset contains 12.72 % missing values.

In [123]:
# Now which column(s) has missing values
df.isna().sum()

Bearer Id                                      991
Start                                            1
Start ms                                         1
End                                              1
End ms                                           1
Dur. (ms)                                        1
IMSI                                           570
MSISDN/Number                                 1066
IMEI                                           572
Last Location Name                            1153
Avg RTT DL (ms)                              27829
Avg RTT UL (ms)                              27812
Avg Bearer TP DL (kbps)                          1
Avg Bearer TP UL (kbps)                          1
TCP DL Retrans. Vol (Bytes)                  88146
TCP UL Retrans. Vol (Bytes)                  96649
DL TP < 50 Kbps (%)                            754
50 Kbps < DL TP < 250 Kbps (%)                 754
250 Kbps < DL TP < 1 Mbps (%)                  754
DL TP > 1 Mbps (%)                             754
UL TP < 10 Kbps (%)                            792
10 Kbps < UL TP < 50 Kbps (%)                  792
50 Kbps < UL TP < 300 Kbps (%)                 792
UL TP > 300 Kbps (%)                           792
HTTP DL (Bytes)                              81474
HTTP UL (Bytes)                              81810
Activity Duration DL (ms)                        1
Activity Duration UL (ms)                        1
Dur. (ms).1                                      1
Handset Manufacturer                          9559
Handset Type                                  9559
Nb of sec with 125000B < Vol DL              97538
Nb of sec with 1250B < Vol UL < 6250B        92894
Nb of sec with 31250B < Vol DL < 125000B     93586
Nb of sec with 37500B < Vol UL              130254
Nb of sec with 6250B < Vol DL < 31250B       88317
Nb of sec with 6250B < Vol UL < 37500B      111843
Nb of sec with Vol DL < 6250B                  755
Nb of sec with Vol UL < 1250B                  793
Social Media DL (Bytes)                          0
Social Media UL (Bytes)                          0
Google DL (Bytes)                                0
Google UL (Bytes)                                0
Email DL (Bytes)                                 0
Email UL (Bytes)                                 0
Youtube DL (Bytes)                               0
Youtube UL (Bytes)                               0
Netflix DL (Bytes)                               0
Netflix UL (Bytes)                               0
Gaming DL (Bytes)                                0
Gaming UL (Bytes)                                0
Other DL (Bytes)                                 0
Other UL (Bytes)                                 0
Total UL (Bytes)                                 1
Total DL (Bytes)                                 1
dtype: int64

In [124]:
#remove rows that have nans in the bearer id an msisdn number columns
df = df[~np.isnan(df['Bearer Id'])]
df = df[~np.isnan(df['MSISDN/Number'])]

In [125]:
# Now which column(s) has missing values
df.isna().sum()

Bearer Id                                        0
Start                                            0
Start ms                                         0
End                                              0
End ms                                           0
Dur. (ms)                                        0
IMSI                                             0
MSISDN/Number                                    0
IMEI                                             0
Last Location Name                             160
Avg RTT DL (ms)                              27636
Avg RTT UL (ms)                              27616
Avg Bearer TP DL (kbps)                          0
Avg Bearer TP UL (kbps)                          0
TCP DL Retrans. Vol (Bytes)                  87764
TCP UL Retrans. Vol (Bytes)                  96128
DL TP < 50 Kbps (%)                            712
50 Kbps < DL TP < 250 Kbps (%)                 712
250 Kbps < DL TP < 1 Mbps (%)                  712
DL TP > 1 Mbps (%)                             712
UL TP < 10 Kbps (%)                            767
10 Kbps < UL TP < 50 Kbps (%)                  767
50 Kbps < UL TP < 300 Kbps (%)                 767
UL TP > 300 Kbps (%)                           767
HTTP DL (Bytes)                              81129
HTTP UL (Bytes)                              81475
Activity Duration DL (ms)                        0
Activity Duration UL (ms)                        0
Dur. (ms).1                                      0
Handset Manufacturer                          8904
Handset Type                                  8904
Nb of sec with 125000B < Vol DL              96775
Nb of sec with 1250B < Vol UL < 6250B        92269
Nb of sec with 31250B < Vol DL < 125000B     92978
Nb of sec with 37500B < Vol UL              128950
Nb of sec with 6250B < Vol DL < 31250B       87838
Nb of sec with 6250B < Vol UL < 37500B      110803
Nb of sec with Vol DL < 6250B                  713
Nb of sec with Vol UL < 1250B                  768
Social Media DL (Bytes)                          0
Social Media UL (Bytes)                          0
Google DL (Bytes)                                0
Google UL (Bytes)                                0
Email DL (Bytes)                                 0
Email UL (Bytes)                                 0
Youtube DL (Bytes)                               0
Youtube UL (Bytes)                               0
Netflix DL (Bytes)                               0
Netflix UL (Bytes)                               0
Gaming DL (Bytes)                                0
Gaming UL (Bytes)                                0
Other DL (Bytes)                                 0
Other UL (Bytes)                                 0
Total UL (Bytes)                                 0
Total DL (Bytes)                                 0
dtype: int64

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148506 entries, 0 to 149999
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 148506 non-null  float64
 1   Start                                     148506 non-null  object
 2   Start ms                                  148506 non-null  float64
 3   End                                       148506 non-null  object
 4   End ms                                    148506 non-null  float64
 5   Dur. (ms)                                 148506 non-null  float64
 6   IMSI                                      148506 non-null  float64
 7   MSISDN/Number                             148506 non-null  float64
 8   IMEI                                      148506 non-null  float64
 9   Last Location Name                        148346 non-null  object
 10  Avg RTT DL (ms)                           120870 non-null  float64
 11  Avg RTT UL (ms)                           120890 non-null  float64
 12  Avg Bearer TP DL (kbps)                   148506 non-null  float64
 13  Avg Bearer TP UL (kbps)                   148506 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               60742 non-null   float64
 15  TCP UL Retrans. Vol (Bytes)               52378 non-null   float64
 16  DL TP < 50 Kbps (%)                       147794 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            147794 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             147794 non-null  float64
 19  DL TP > 1 Mbps (%)                        147794 non-null  float64
 20  UL TP < 10 Kbps (%)                       147739 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             147739 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            147739 non-null  float64
 23  UL TP > 300 Kbps (%)                      147739 non-null  float64
 24  HTTP DL (Bytes)                           67377 non-null   float64
 25  HTTP UL (Bytes)                           67031 non-null   float64
 26  Activity Duration DL (ms)                 148506 non-null  float64
 27  Activity Duration UL (ms)                 148506 non-null  float64
 28  Dur. (ms).1                               148506 non-null  float64
 29  Handset Manufacturer                      139602 non-null  object
 30  Handset Type                              139602 non-null  object
 31  Nb of sec with 125000B < Vol DL           51731 non-null   float64
 32  Nb of sec with 1250B < Vol UL < 6250B     56237 non-null   float64
 33  Nb of sec with 31250B < Vol DL < 125000B  55528 non-null   float64
 34  Nb of sec with 37500B < Vol UL            19556 non-null   float64
 35  Nb of sec with 6250B < Vol DL < 31250B    60668 non-null   float64
 36  Nb of sec with 6250B < Vol UL < 37500B    37703 non-null   float64
 37  Nb of sec with Vol DL < 6250B             147793 non-null  float64
 38  Nb of sec with Vol UL < 1250B             147738 non-null  float64
 39  Social Media DL (Bytes)                   148506 non-null  float64
 40  Social Media UL (Bytes)                   148506 non-null  float64
 41  Google DL (Bytes)                         148506 non-null  float64
 42  Google UL (Bytes)                         148506 non-null  float64
 43  Email DL (Bytes)                          148506 non-null  float64
 44  Email UL (Bytes)                          148506 non-null  float64
 45  Youtube DL (Bytes)                        148506 non-null  float64
 46  Youtube UL (Bytes)                        148506 non-null  float64
 47  Netflix DL (Bytes)                        148506 non-null  float64
 48  Netflix UL (Bytes)                        148506 non-null  float64
 49  Gaming DL (Bytes)                         148506 non-null  float64
 50  Gaming UL (Bytes)                         148506 non-null  float64
 51  Other DL (Bytes)                          148506 non-null  float64
 52  Other UL (Bytes)                          148506 non-null  float64
 53  Total UL (Bytes)                          148506 non-null  float64
 54  Total DL (Bytes)                          148506 non-null  float64
dtypes: float64(50), object(5)
memory usage: 63.4+ MB

In [127]:

df['Bearer Id'] = df['Bearer Id'].apply(lambda x: '{:.0f}'.format(x))
df['Bearer Id'] = df['Bearer Id'].astype('str')

df["Start"]=pd.to_datetime(df["Start"], format='%m/%d/%Y %H:%M', errors='coerce')
df["End"]=pd.to_datetime(df["End"], format='%m/%d/%Y %H:%M', errors='coerce')

df['MSISDN/Number'] = df['MSISDN/Number'].apply(lambda x: '{:.0f}'.format(x))
df['MSISDN/Number'] = df['MSISDN/Number'].astype('str')

df['IMSI'] = df['IMSI'].apply(lambda x: '{:.0f}'.format(x))
df['IMSI'] = df['IMSI'].astype('str')

df['IMEI'] = df['IMEI'].apply(lambda x: '{:.0f}'.format(x))
df['IMEI'] = df['IMEI'].astype('str')

df['Handset Manufacturer'] = df['Handset Manufacturer'].astype('str')
df['Last Location Name'] = df['Last Location Name'].astype('str')

df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps),TCP DL Retrans. Vol (Bytes),TCP UL Retrans. Vol (Bytes),DL TP < 50 Kbps (%),50 Kbps < DL TP < 250 Kbps (%),250 Kbps < DL TP < 1 Mbps (%),DL TP > 1 Mbps (%),UL TP < 10 Kbps (%),10 Kbps < UL TP < 50 Kbps (%),50 Kbps < UL TP < 300 Kbps (%),UL TP > 300 Kbps (%),HTTP DL (Bytes),HTTP UL (Bytes),Activity Duration DL (ms),Activity Duration UL (ms),Dur. (ms).1,Handset Manufacturer,Handset Type,Nb of sec with 125000B < Vol DL,Nb of sec with 1250B < Vol UL < 6250B,Nb of sec with 31250B < Vol DL < 125000B,Nb of sec with 37500B < Vol UL,Nb of sec with 6250B < Vol DL < 31250B,Nb of sec with 6250B < Vol UL < 37500B,Nb of sec with Vol DL < 6250B,Nb of sec with Vol UL < 1250B,Social Media DL (Bytes),Social Media UL (Bytes),Google DL (Bytes),Google UL (Bytes),Email DL (Bytes),Email UL (Bytes),Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,13114483460844900352,2019-04-04 12:01:00,770.0,2019-04-25 14:35:00,662.0,1823652.0,208201448079117,33664962239,35521209507511,9.16456699548519E+015,42.0,5.0,23.0,44.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,37624.0,38787.0,1.823653e+09,Samsung,Samsung Galaxy A5 Sm-A520F,NaN,NaN,NaN,NaN,NaN,NaN,213.0,214.0,1545765.0,24420.0,1634479.0,1271433.0,3563542.0,137762.0,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,13114483482878900224,2019-04-09 13:04:00,235.0,2019-04-25 08:15:00,606.0,1365104.0,208201909211140,33681854413,35794009006359,L77566A,65.0,5.0,16.0,26.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,168.0,3560.0,1.365104e+09,Samsung,Samsung Galaxy J5 (Sm-J530),NaN,NaN,NaN,NaN,NaN,NaN,971.0,1022.0,1926113.0,7165.0,3493924.0,920172.0,629046.0,308339.0,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,13114483484080500736,2019-04-09 17:42:00,1.0,2019-04-25 11:58:00,652.0,1361762.0,208200314458056,33760627129,35281510359387,D42335A,NaN,NaN,6.0,9.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,1.361763e+09,Samsung,Samsung Galaxy A8 (2018),NaN,NaN,NaN,NaN,NaN,NaN,751.0,695.0,1684053.0,42224.0,8535055.0,1694064.0,2690151.0,672973.0,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,13114483485442799616,2019-04-10 00:31:00,486.0,2019-04-25 07:36:00,171.0,1321509.0,208201402342131,33750343200,35356610164913,T21824A,NaN,NaN,44.0,44.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,3330.0,37882.0,1.321510e+09,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,207.0,644121.0,13372.0,9023734.0,2788027.0,1439754.0,631229.0,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,13114483499480700928,2019-04-12 20:10:00,565.0,2019-04-25 10:40:00,954.0,1089009.0,208201401415120,33699795932,35407009745539,D88865A,NaN,NaN,6.0,9.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,1.089009e+09,Samsung,Samsung Sm-G390F,NaN,NaN,NaN,NaN,NaN,NaN,607.0,604.0,862600.0,50188.0,6248284.0,1500559.0,1936496.0,173853.0,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148506 entries, 0 to 149999
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 148506 non-null  object
 1   Start                                     148506 non-null  datetime64[ns]
 2   Start ms                                  148506 non-null  float64
 3   End                                       148506 non-null  datetime64[ns]
 4   End ms                                    148506 non-null  float64
 5   Dur. (ms)                                 148506 non-null  float64
 6   IMSI                                      148506 non-null  object
 7   MSISDN/Number                             148506 non-null  object
 8   IMEI                                      148506 non-null  object
 9   Last Location Name                        148506 non-null  object
 10  Avg RTT DL (ms)                           120870 non-null  float64
 11  Avg RTT UL (ms)                           120890 non-null  float64
 12  Avg Bearer TP DL (kbps)                   148506 non-null  float64
 13  Avg Bearer TP UL (kbps)                   148506 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               60742 non-null   float64
 15  TCP UL Retrans. Vol (Bytes)               52378 non-null   float64
 16  DL TP < 50 Kbps (%)                       147794 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            147794 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             147794 non-null  float64
 19  DL TP > 1 Mbps (%)                        147794 non-null  float64
 20  UL TP < 10 Kbps (%)                       147739 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             147739 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            147739 non-null  float64
 23  UL TP > 300 Kbps (%)                      147739 non-null  float64
 24  HTTP DL (Bytes)                           67377 non-null   float64
 25  HTTP UL (Bytes)                           67031 non-null   float64
 26  Activity Duration DL (ms)                 148506 non-null  float64
 27  Activity Duration UL (ms)                 148506 non-null  float64
 28  Dur. (ms).1                               148506 non-null  float64
 29  Handset Manufacturer                      148506 non-null  object
 30  Handset Type                              139602 non-null  object
 31  Nb of sec with 125000B < Vol DL           51731 non-null   float64
 32  Nb of sec with 1250B < Vol UL < 6250B     56237 non-null   float64
 33  Nb of sec with 31250B < Vol DL < 125000B  55528 non-null   float64
 34  Nb of sec with 37500B < Vol UL            19556 non-null   float64
 35  Nb of sec with 6250B < Vol DL < 31250B    60668 non-null   float64
 36  Nb of sec with 6250B < Vol UL < 37500B    37703 non-null   float64
 37  Nb of sec with Vol DL < 6250B             147793 non-null  float64
 38  Nb of sec with Vol UL < 1250B             147738 non-null  float64
 39  Social Media DL (Bytes)                   148506 non-null  float64
 40  Social Media UL (Bytes)                   148506 non-null  float64
 41  Google DL (Bytes)                         148506 non-null  float64
 42  Google UL (Bytes)                         148506 non-null  float64
 43  Email DL (Bytes)                          148506 non-null  float64
 44  Email UL (Bytes)                          148506 non-null  float64
 45  Youtube DL (Bytes)                        148506 non-null  float64
 46  Youtube UL (Bytes)                        148506 non-null  float64
 47  Netflix DL (Bytes)                        148506 non-null  float64
 48  Netflix UL (Bytes)                        148506 non-null  float64
 49  Gaming DL (Bytes)                         148506 non-null  float64
 50  Gaming UL (Bytes)                         148506 non-null  float64
 51  Other DL (Bytes)                          148506 non-null  float64
 52  Other UL (Bytes)                          148506 non-null  float64
 53  Total UL (Bytes)                          148506 non-null  float64
 54  Total DL (Bytes)                          148506 non-null  float64
dtypes: datetime64[ns](2), float64(46), object(7)
memory usage: 63.4+ MB

# Handsets

## The top 10 handsets used by the customers

In [129]:

top10 = df[['Handset Type','IMSI']].groupby(['Handset Type'])
top10 = top10['IMSI'].nunique()
top10 = top10.reset_index(name='Count')
top10 = top10.sort_values(['Count'], ascending=False)
top10.head(10)

                     Handset Type  Count
315              Huawei B528S-23A  10616
53        Apple iPhone 6S (A1688)   6744
49         Apple iPhone 6 (A1586)   6245
59         Apple iPhone 7 (A1778)   4675
73        Apple iPhone Se (A1723)   3744
66         Apple iPhone 8 (A1905)   3535
951  Samsung Galaxy S8 (Sm-G950F)   3232
78        Apple iPhone Xr (A2105)   3066
884   Samsung Galaxy J5 (Sm-J530)   2741
834    Samsung Galaxy A5 Sm-A520F   2701

## The top 3 handset manufacturers

In [130]:
df[['Handset Manufacturer','IMSI']].groupby(['Handset Manufacturer'])['IMSI'].nunique().nlargest(3)

Handset Manufacturer
Apple      42477
Samsung    30647
Huawei     21628
Name: IMSI, dtype: int64

## The top 5 handsets per top 3 handset manufacturer

In [131]:
#Apple
df[df['Handset Manufacturer']=='Apple'].groupby(['Handset Type'])['IMSI'].nunique().nlargest(5)

Handset Type
Apple iPhone 6S (A1688)    6744
Apple iPhone 6 (A1586)     6245
Apple iPhone 7 (A1778)     4675
Apple iPhone Se (A1723)    3744
Apple iPhone 8 (A1905)     3535
Name: IMSI, dtype: int64

In [132]:
#Samsung
df[df['Handset Manufacturer']=='Samsung'].groupby(['Handset Type'])['IMSI'].nunique().nlargest(5)

Handset Type
Samsung Galaxy S8 (Sm-G950F)    3232
Samsung Galaxy J5 (Sm-J530)     2741
Samsung Galaxy A5 Sm-A520F      2701
Samsung Galaxy J3 (Sm-J330)     2582
Samsung Galaxy S7 (Sm-G930X)    2288
Name: IMSI, dtype: int64

In [133]:
#Huawei
df[df['Handset Manufacturer']=='Huawei'].groupby(['Handset Type'])['IMSI'].nunique().nlargest(5)

Handset Type
Huawei B528S-23A                  10616
Huawei P20 Lite Huawei Nova 3E     1526
Huawei E5180                       1182
Huawei P20                         1105
Huawei Y6 2018                      757
Name: IMSI, dtype: int64

# Aggregate

## Number of sessions per user

In [134]:
df_session_count = df.groupby(['IMSI'])['Bearer Id'].count()
df_session_count.head()
#columns = ['MSISDN/Number','num_of_sessions'])

IMSI
204047108489451    1
204080810288647    1
208200101016140    1
208200101127285    1
208200101148045    2
Name: Bearer Id, dtype: int64

## Session Duration

In [135]:
df_session_count = df.groupby(['IMSI'])['Dur. (ms)'].sum()
df_session_count.head()

IMSI
204047108489451    869844.0
204080810288647    877385.0
208200101016140     86019.0
208200101127285     86254.0
208200101148045    573923.0
Name: Dur. (ms), dtype: float64

## Total Data Uploaded and Downloaded

In [9]:
df_total_data = df.groupby(['MSISDN/Number'])['HTTP DL (Bytes)','HTTP UL (Bytes)'].sum()
df_total_data.head()

               HTTP DL (Bytes)  HTTP UL (Bytes)
MSISDN/Number
3.360100e+10               0.0              0.0
3.360100e+10               0.0              0.0
3.360100e+10               0.0              0.0
3.360101e+10            8749.0            653.0
3.360101e+10       185208098.0        4733818.0

In [137]:
df_aggregate = df[['Bearer Id','MSISDN/Number','Dur. (ms)',
                'Social Media DL (Bytes)','Social Media UL (Bytes)', 'Google DL (Bytes)', 
                'Google UL (Bytes)', 'Email DL (Bytes)', 'Email UL (Bytes)', 'Youtube DL (Bytes)', 
                'Youtube UL (Bytes)', 'Netflix DL (Bytes)', 'Netflix UL (Bytes)', 'Gaming DL (Bytes)', 
                'Gaming UL (Bytes)', 'Other DL (Bytes)', 'Other UL (Bytes)', 'Total UL (Bytes)', 
                'Total DL (Bytes)']].groupby(['MSISDN/Number'])

In [138]:
df_aggregate.agg({'Bearer Id':'nunique', 'Dur. (ms)':'sum'})

                 Bearer Id  Dur. (ms)
MSISDN/Number
3197020876596            1   877385.0
33601001722              1   116720.0
33601001754              1   181230.0
33601002511              1   134969.0
33601007832              1    49878.0
...                    ...        ...
33789967113              1   160461.0
33789980299              2   210389.0
33789996170              1     8810.0
33789997247              1   140988.0
882397108489451          1   869844.0

[106471 rows x 2 columns]